{% extends "base.html.twig" %}

{% block title %}PC | Profil{% endblock %}


{% block body %}
    <nav class="navbar navbar-expand-lg navbar-light bg-warning">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="https://flexifleet.fr/wp-content/themes/hestia-child/images/actu-default.png" alt="" width="30" height="24">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{{ path('gestion_utilisateur') }}">Gestion des utilisateurs</a>
                    </li>
                </ul>
                <button class="btn btn-danger" type="submit">Déconnexion</button>
            </div>
        </div>
    </nav>


    <!--FIN NAVBAR-->

    <div class="container mt-5">
        <button type="submit" class="btn btn-success mb-3"><i class="fa fa-plus"></i>&nbsp;Ajouter un utilisateur</button>
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col" style="text-align: center">Modifier</th>
                <th scope="col" style="text-align: center">Activer / Désactiver</th>
                <th scope="col" style="text-align: center">Supprimer</th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
            <tr>
                <th scope="row">{{ user.username }}</th>
                <td style="text-align: center"><i class="fa fa-edit" style="color: orange"></i></td>
                <td style="text-align: center">
                    {% if user.status == 'N' %}
                        <a href="{{ path('patch_disable_gestion_utilisateur', { 'userId': user.id }) }}"><i class="fa fa-window-close" style="color: blue"></i></a>
                    {% else %}
                        <a href="{{ path('patch_enable_gestion_utilisateur', { 'userId': user.id }) }}"><i class="fa fa-check" style="color: green"></i></a>
                    {% endif %}

                </td>
                <td style="text-align: center"><i class="fa fa-trash" style="color: red"></i></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
